@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

*:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  gap: 30px;
  padding: 0 70px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.navigation-logo {
  display: block;
  object-fit: contain;
  width: 140px;
  margin-bottom: -11px;
  z-index: 1;
}

.navigation-logo:hover,
.navigation-logo:focus-visible {
  opacity: 75%;
}

.navigation-logo:active {
  opacity: 50%;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  min-width: 350px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  text-decoration: none;
  color: inherit;
}

.navigation-link:hover,
.navigation-link:focus-visible {
  opacity: 75%;
}

.navigation-link:active {
  opacity: 50%;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  height: 2px;
  right: 16px;
  bottom: 0;
  left: 16px;
  background-color: #756257;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 320px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.navigation-user-link {
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
  text-decoration: none;
  color: inherit;
}

.navigation-user-link:hover .search-logo,
.navigation-user-link:focus-visible .search-logo {
  opacity: 75%;
}

.navigation-user-link:active .search-logo {
  opacity: 50%;
}

.navigation-user-link:hover .favourites-logo,
.navigation-user-link:focus-visible .favourites-logo {
  opacity: 75%;
}

.navigation-user-link:active .favourites-logo {
  opacity: 50%;
}

.navigation-user-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-user-favourites {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-favourites-number {
  position: absolute;
  top: 12px;
  left: 50%;
  min-width: 20px;
  min-height: 20px;
  padding: 5px 5px;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 10px;
  font-weight: normal;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
}

.navigation-user-item-btn {
  min-width: 160px;
  padding: 14px 0 14px 20px;
}

.navigation-user-link-btn {
  display: inline-block;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.btn-main {
  background-color: #756157;
  border-radius: 4px;
}

.btn-main:hover,
.btn-main:focus-visible {
  background-color: #615048;
}

.btn-main:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-main:disabled {
  background-color: #E5E5E5;
  cursor: default;
}

.page-main {
  flex-grow: 1;
  text-align: center;
}

.page-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #82B3D3;
  background-image: url(../images/divider.svg), url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left bottom, center;
}

.welcome-logo {
  padding: 51px 371px 82px;
  object-fit: contain;
}

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 69px;
  background-color: #ffffff;
}

.advantages-slogan {
  max-width: 620px;
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantages-text {
  margin: 0;
  margin-bottom: 90px;
  padding: 0 70px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-short {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  padding: 20px 85px;
}

.advantages-item-short:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-short:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-subtitle {
  margin: 0;
  max-width: 175px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-short .advantages-item-subtitle::after {
  content: "";
  display: block;
  margin: 30px auto 0;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-text {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-with-photo {
  display: flex;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item-with-photo:last-child {
  flex-direction: row-reverse;
}

.advantages-item-with-photo .advantages-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 85px;
}

.advantages-item-with-photo .advantages-item-subtitle {
  color: inherit;
}

.advantages-item-with-photo .advantages-item-subtitle::after {
  content: "";
  display: block;
  margin: 30px auto 0;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-with-photo img {
  display: block;
  width: 100%;
  object-fit: contain;
  align-self: center;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  background-color: #ffffff;
}

.services-slogan {
  max-width: 505px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.services-text {
  margin: 0;
  margin-bottom: 64px;
  padding: 0 70px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 10px 85px;
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12)
}

.services-item-subtitle {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  word-break: break-all;
  color: #000000;
}

.services-item-subtitle::before {
  content: "";
  display: block;
  margin: 0 auto 30px;
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.services-item-housing .services-item-subtitle::before {
  background-image: url(../images/services-housing-icon.svg);
}

.services-item-food .services-item-subtitle::before {
  background-image: url(../images/services-food-icon.svg);
}

.services-item-souvenirs .services-item-subtitle::before {
  background-image: url(../images/services-souvenirs-icon.svg);
}

.services-item-text {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 304px;
  background-color: #ffffff;
}

.search-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-text {
  margin: 0;
  margin-bottom: 54px;
}

.search-btn {
  padding: 8px 50px;
  border-style: none;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 258px 104px;
  text-align: center;
  background-color: #ffffff;
}

.page-main-subscribe {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-text {
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  min-width: 684px;
}

.subscribe-email {
  flex-grow: 1;
  padding: 14px 20px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border-style: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.btn-additional {
  background-color: #82B3D3;
}

.btn-additional:hover,
.btn-additional:focus-visible {
  background-color: #68A2CA;
}

.btn-additional:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-additional:disabled {
  background-color: #E5E5E5;
  cursor: default;
}

.subscribe-btn {
  padding: 8px 50px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border-style: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 40px 70px 30px 70px;
  color: #000000;
  background-color: #ffffff;
}

.page-footer .socials-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 142px;
  min-height: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-footer .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 47px;
  height: 40px;
}

.page-footer .social-link:hover .social-logo-vk,
.page-footer .social-link:focus-visible .social-logo-vk {
  fill: rgba(104, 162, 202, 1);
}

.page-footer .social-link:active .social-logo-vk {
  fill: rgba(104, 162, 202, 0.3);
}

.page-footer .social-link:hover .social-logo-telegram,
.page-footer .social-link:focus-visible .social-logo-telegram {
  fill: rgba(104, 162, 202, 1);
}

.page-footer .social-link:active .social-logo-telegram {
  fill: rgba(104, 162, 202, 0.3);
}

.page-footer .social-link:hover .social-logo-youtube,
.page-footer .social-link:focus-visible .social-logo-youtube {
  fill: rgba(104, 162, 202, 1);
}

.page-footer .social-link:active .social-logo-youtube {
  fill: rgba(104, 162, 202, 0.3);
}

.page-footer .phone-number-link {
  max-width: 720px;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}

.page-footer .phone-number-link:hover,
.page-footer .phone-number-link:focus-visible {
  color: #756157;
}

.page-footer .phone-number-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-footer .htmlacademy-logo-link {
  min-width: 115px;
  min-height: 33px;
}

.page-footer .htmlacademy-logo-link:hover .htmlacademy-logo,
.page-footer .htmlacademy-logo-link:focus-visible .htmlacademy-logo {
  fill: #756157;
}

.page-footer .htmlacademy-logo-link:active .htmlacademy-logo {
  fill: rgba(117, 97, 87, 0.3);
}

.page-footer .htmlacademy-logo {
  display: block;
}

.catalog-main {
  flex-grow: 1;
  background-color: #ffffff;
}

.filter-container {
  display: flex;
  flex-direction: column;
  padding: 35px 70px 70px 70px;
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.catalog-page-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.breadcrumbs-item:not(:first-child) {
  position: relative;
  margin-left: 28px;
}

.breadcrumbs-item::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -18px;
  width: 8px;
  height: 10px;
  background-image: url(../images/breadcrumbs-next-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-item-link {
  display: flex;
  align-items: center;
  min-height: 21px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-item-link:hover {
  opacity: 60%;
}

.breadcrumbs-item-link:active {
  opacity: 30%;
}

.breadcrumbs-homepage-logo {
  display: block;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
}

.filter-form {
  display: flex;
  min-height: 160px;
}

.checkbox-filter-field {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border-style: none;
}

.fieldset-legend {
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-list {
  list-style-type: none;
}

.checkbox-filter-list {
  margin: 0;
  padding: 0;
}

.filter-input:not(:last-child) {
  margin-bottom: 16px;
}

.filter-input:hover {
  opacity: 60%;
}

.filter-input:active {
  opacity: 30%;
}

.filter-label {
  font-size: 18px;
  line-height: 23px;
}

.filter-label input {
  margin: 0;
  margin-right: 16px;
}

.radio-filter-field {
  margin: 0;
  margin-right: 140px;
  padding: 0;
  border-style: none;
}

.radio-filter-list {
  margin: 0;
  padding: 0;
}

.cost-filter-field {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border-style: none;
}

.min-cost-filter {
  width: 143px;
  margin: 0;
  margin-right: 2px;
  padding: 12px 20px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-style: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.max-cost-filter {
  width: 143px;
  margin: 0;
  padding: 12px 20px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-style: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.filter-button-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.filter-btn {
  padding: 8px 50px;
  border-radius: 4px;
  border-style: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.filter-submit-btn {
  margin: 56px 0 32px;
  background-color: #82B3D3;
  cursor: pointer;
}

.filter-reset-btn {
  background-color: transparent;
  cursor: pointer;
}

.filter-reset-btn:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-reset-btn:focus-visible {
  outline: 3px solid #83B3D3;
}

.filter-reset-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-reset-btn:disabled {
  color: rgba(255, 255, 255, 0.1);
  cursor: default;
}

.catalog-container {
  padding: 50px 70px 60px;
}

.catalog {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.sorting-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  color: #000000;
  background-color: #ffffff;
}

.sorting-title {
  width: 338px;
  margin: 0;
  margin-right: 200px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting-select {
  width: 292px;
  padding: 14px 35px 14px 20px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  background-image: url(../images/sorting-select-icon.svg);
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.sorting-select:hover,
.sorting-select:focus {
  border: 2px solid #68A2CA;
}

.sorting-select:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.view-change-list {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.view-change-link {
  display: block;
  min-width: 48px;
  min-height: 48px;
  color: #000000;
  text-decoration: none;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
}

.view-change-link:hover {
  border: 2px solid #000000;
}

.view-change-link:focus-visible {
  border: 2px solid #68A2CA;
}

.view-change-link:active {
  border: 2px solid #000000;
}

.view-change-link-tile {
  background-image: url(../images/view-tile-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.view-change-link-card {
  background-image: url(../images/view-card-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.view-change-link-list {
  background-image: url(../images/view-list-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style-type: none;
}

.catalog-hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: min-content auto;
  grid-auto-rows: min-content;
  gap: 16px 20px;
  padding: 20px;
  outline: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotels-item-link {
  text-decoration: none;
  color: #000000;
}

.hotels-item-img-link {
  grid-column: 1/-1;
}

.catalog-hotel-card img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.hotels-item-title-link {
  grid-column: 1/-1;
}

.catalog-hotel-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.catalog-hotel-card p {
  margin: 0;
  color: #333333;
}

.catalog-hotel-card .hotel-cost {
  text-align: end;
}

.more-details-btn {
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-all;
  color: #ffffff;
}

.add-to-favourite-btn {
  padding: 8px 20px;
  border-style: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  cursor: pointer;
}

.add-to-favourite-btn.active {
  padding: 8px 18px;
  background-color: #7DB54F;
}

.add-to-favourite-btn.active:hover,
.add-to-favourite-btn.active:focus-visible {
  background-color: #6C9E42;
}

.add-to-favourite-btn.active:active {
  color: rgba(255, 255, 255, 0.3);
}

.add-to-favourite-btn.active:disabled {
  background-color: #E5E5E5;
  cursor: default;
}

.hotel-stars {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: flex-start;
  align-items: center;
}

.hotel-single-star {
  width: 18px;
  height: 17px;
  background-image: url(../images/star-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hotel-rating {
  box-sizing: border-box;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-list::before {
  content: "";
  position: absolute;
  top: -40px;
  right: 0;
  left: 0;
  height: 1px;
  background-color: #E5E5E5;
}

.pagination-item {
  min-width: 60px;
  min-height: 60px;
  color: #ffffff;
  background-color: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.pagination-item.current {
  color: #000000;
  background-color: #F2F2F2;
  border: none;
}

.pagination-link {
  display: block;
  padding: 12px 12px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: inherit;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus-visible {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.pagination-link.current:hover,
.pagination-link.current:focus-visible,
.pagination-link.current:active {
  color: #000000;
  background-color: #F2F2F2;
  outline: none;
}

.pagination-item-more {
  color: #000000;
  background-color: #ffffff;
  border: none;
}

.pagination-link-more:hover,
.pagination-link-more:focus-visible,
.pagination-link-more:active {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}
