@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;

  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;

  background-color: #ffffff;
}

.navigation {
  display: flex;
  gap: 30px;
  padding: 0 70px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.navigation-logo-link {
  display: block;
  z-index: 1;

  width: 138px;
  margin-bottom: -11px;

  transition: opacity 0.2s ease-in;
}

.navigation-logo-link:hover {
  opacity: 0.7;
}

.navigation-logo-link:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 3px #68A2CA;
  border-radius: 4px;
  opacity: 0.7;
}

.navigation-logo-link:active {
  opacity: 0.5;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  min-width: 350px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.navigation-item {
  position: relative;
}

.navigation-link {
  display: block;
  padding: 20px 16px;

  text-decoration: none;
  color: inherit;

  transition: opacity 0.2s ease-in;
}

.navigation-link:hover {
  opacity: 0.7;
}

.navigation-link:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 3px #68A2CA;
  border-radius: 4px;
  opacity: 0.7;
}

.navigation-link:active {
  opacity: 0.5;
}

.navigation-link-current::after {
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;

  height: 2px;

  background-color: #756257;
  content: "";
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;

  min-width: 320px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style-type: none;
}

.navigation-user-link {
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;

  text-decoration: none;
  color: inherit;

  transition: opacity 0.2s ease-in;
}

.navigation-user-search {
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-favourites {
  position: relative;

  background-image: url(../images/heart-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-link:hover {
  opacity: 0.7;
}

.navigation-user-link:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 3px #68A2CA;
  border-radius: 4px;
  opacity: 0.7;
}

.navigation-user-link:active {
  opacity: 0.5;
}

.navigation-favourites-number {
  position: absolute;
  top: 11px;
  left: 50%;

  min-width: 20px;
  min-height: 20px;
  padding: 5px 5px;
  box-sizing: border-box;

  font-size: 10px;
  line-height: 10px;
  font-weight: normal;
  color: #ffffff;

  background-color: #7DB54F;
  border-radius: 50%;

  transform: translateX(-2px);
}

.navigation-user-item-btn {
  min-width: 160px;
  padding: 14px 0 14px 20px;
}

.navigation-user-link-btn {
  display: block;
  max-width: 160px;
  padding: 8px 34px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.btn-main {
  background-color: #756157;
  border-radius: 4px;

  transition:
    background-color 0.2s ease-in,
    color 0.2s ease-in;
}

.btn-main:hover {
  background-color: #615048;
}

.btn-main:focus-visible {
  background-color: #615048;
  outline: 3px solid #68A2CA;
  border-radius: 4px;
}

.btn-main:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-main:disabled {
  background-color: #E5E5E5;

  cursor: default;
}

.btn-main.disabled {
  background-color: #E5E5E5;

  pointer-events: none;
}

.page-main {
  flex-grow: 1;

  text-align: center;
}

.page-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #82B3D3;
  background-image: url(../images/divider.svg), url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left bottom, center;
}

.welcome-logo {
  padding: 51px 371px 82px;
  max-width: 100%;
  object-fit: contain;
}

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 69px;

  background-color: #ffffff;
}

.advantages-slogan {
  max-width: 650px;
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantages-text {
  margin: 0;
  margin-bottom: 90px;
  padding: 0 70px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.advantages-item-with-photo {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;

  color: #ffffff;

  background-color: #82B3D3;
}

.advantages-item-with-photo .advantages-item-subtitle {
  color: inherit;
}

.advantages-item-with-photo img {
  display: block;
  align-self: center;
  max-width: 100%;
  object-fit: contain;
}

.advantages-item-with-photo:last-child {
  flex-direction: row-reverse;
}

.advantages-item-short {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  min-height: 385px;
  padding: 20px 80px;
  box-sizing: border-box;
}

.advantages-item-short:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-short:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-short::before {
  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);

  content: "";
  order: 2;
}

.advantages-item-with-photo .advantages-item-short::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-subtitle {
  margin: 0;
  max-width: 175px;

  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-text {
  margin: 0;

  font-size: 18px;
  line-height: 21px;

  order: 3;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 64px;

  background-color: #ffffff;
}

.services-slogan {
  max-width: 505px;
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.services-text {
  margin: 0;
  margin-bottom: 64px;
  padding: 0 70px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.services-item {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 385px;
  padding: 10px 85px;
  box-sizing: border-box;
}

.services-item::before {
  display: block;
  width: 75px;
  height: 72px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  content: "";
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12)
}

.services-item-subtitle {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  word-break: break-all;
  color: #000000;
}

.services-item-housing.services-item::before {
  background-image: url(../images/services-housing-icon.svg);
}

.services-item-food.services-item::before {
  background-image: url(../images/services-food-icon.svg);
}

.services-item-souvenirs.services-item::before {
  background-image: url(../images/services-souvenirs-icon.svg);
}

.services-item-text {
  margin: 0;

  font-size: 18px;
  line-height: 21px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 304px;

  background-color: #ffffff;
}

.search-title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-text {
  margin: 0;
  margin-bottom: 54px;
}

.search-btn {
  max-width: 400px;
  padding: 8px 50px;

  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  border-style: none;
  cursor: pointer;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 258px 104px;

  text-align: center;

  background-color: #ffffff;
}

.page-main-subscribe {
  color: #ffffff;

  background-color: #82B3D3;
  background-image: url(../images/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-text {
  margin: 0;
  margin-bottom: 55px;
}

.subscribe-form {
  display: flex;
  min-width: 684px;
}

.subscribe-email {
  flex-grow: 1;
  padding: 16px 20px 12px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;

  background-color: #F2F2F2;
  border-style: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  transition: background-color 0.2s ease-in;
}

.subscribe-email:hover {
  background-color: #E5E5E5;
}

.subscribe-email:focus {
  background-color: #E5E5E5;
  outline: 3px solid #68A2CA;
  border-radius: 4px;
}

.btn-additional {
  background-color: #82B3D3;

  transition:
    background-color 0.2s ease-in,
    color 0.2s ease-in;
}

.btn-additional:hover {
  background-color: #68A2CA;
}

.btn-additional:focus-visible {
  background-color: #68A2CA;
  outline: 3px solid #3F5E72;
  border-radius: 4px;
}

.btn-additional:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-additional:disabled {
  background-color: #E5E5E5;

  cursor: default;
}

.subscribe-btn {
  max-width: 232px;
  padding: 8px 50px;

  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  border-style: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  cursor: pointer;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 40px 70px 30px 70px;

  color: #000000;

  background-color: #ffffff;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 142px;
  min-height: 40px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 47px;
  height: 40px;
}

.social-logo {
  transition: fill 0.2s ease-in;
}

.social-link:focus-visible {
  outline: 3px solid #68A2CA;
  border-radius: 4px;
}

.social-link:hover .social-logo,
.social-link:focus-visible .social-logo {
  fill: rgba(104, 162, 202, 1);
}

.social-link:active .social-logo {
  fill: rgba(104, 162, 202, 0.3);
}

.phone-number-link {
  display: block;
  max-width: 720px;

  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  color: #000000;

  transition: color 0.2s ease-in;
}

.phone-number-link:hover {
  color: #756157;
}

.phone-number-link:focus-visible {
  color: #756157;
  outline: 3px solid #68A2CA;
  border-radius: 4px;
}

.phone-number-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-logo-link {
  min-width: 115px;
  min-height: 33px;
}

.htmlacademy-logo {
  display: block;

  transition: fill 0.2s ease-in;
}

.htmlacademy-logo-link:hover .htmlacademy-logo,
.htmlacademy-logo-link:focus-visible .htmlacademy-logo {
  fill: #756157;
}

.htmlacademy-logo-link:focus-visible {
  outline: 3px solid #68A2CA;
  border-radius: 4px;
}

.htmlacademy-logo-link:active .htmlacademy-logo {
  fill: rgba(117, 97, 87, 0.3);
}

.catalog-main {
  flex-grow: 1;

  background-color: #ffffff;
}

.filter-container {
  display: flex;
  flex-direction: column;
  padding: 35px 69px 70px 70px;

  color: #ffffff;

  background-color: #82B3D3;
  background-image: url(../images/filter-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.catalog-page-title {
  margin: 0;
  margin-bottom: 8px;

  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 28px;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  top: 5px;
  right: -18px;

  width: 8px;
  height: 10px;

  background-image: url(../images/breadcrumbs-next-icon.svg);
  background-repeat: no-repeat;
  background-position: center;

  content: "";
}

.home-page-link {
  width: 13px;
  height: 15px;

  background-image: url(../images/home-page-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.breadcrumbs-item-link {
  display: block;
  min-height: 21px;

  color: inherit;
  text-decoration: none;

  transition: opacity 0.2s ease-in;
}

.breadcrumbs-item-link:hover {
  opacity: 0.6;
}

.breadcrumbs-item-link:focus-visible {
  outline: 3px solid #68A2CA;
  border-radius: 4px;
  opacity: 0.6;
}

.breadcrumbs-item-link:active {
  opacity: 0.3;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  min-height: 160px;
}

.checkbox-filter-field {
  max-width: 150px;
  margin: 0;
  margin-right: 71px;
  padding: 0;

  border-style: none;
}

.fieldset-legend {
  margin-bottom: 32px;
  padding: 0;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.filter-list {
  list-style-type: none;
}

.checkbox-filter-list {
  margin: 0;
  padding: 0;
}

.filter-input {
  transition: opacity 0.2s ease-in;
}

.filter-input:not(:last-child) {
  margin-bottom: 16px;
}

.filter-label {
  position: relative;

  display: flex;
  align-items: center;
  padding-left: 36px;

  font-size: 18px;
  line-height: 23px;
}

.checkbox-mark {
  position: absolute;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  background-color: #FFFFFF;
  border-radius: 4px;
}

.checkbox-input[type="checkbox"]:checked + .checkbox-mark::before {
  min-width: 13px;
  min-height: 10px;

  background-image: url(../images/checkbox-input.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  content: "";
}

.radio-filter-field {
  max-width: 145px;
  margin: 0;
  margin-right: 140px;
  padding: 0;

  border-style: none;
}

.radio-filter-list {
  margin: 0;
  padding: 0;
}

.radio-mark {
  position: absolute;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  background-color: #FFFFFF;
  border-radius: 50%;
}

.radio-input[type="radio"]:checked + .radio-mark::before {
  min-width: 10px;
  min-height: 10px;

  background-color: #3F5E72;
  border-radius: 50%;

  content: "";
}

.filter-input:hover {
  opacity: 0.6;
}

.checkbox-input:focus-visible + .checkbox-mark,
.radio-input:focus-visible + .radio-mark {
  outline: 3px solid #83B3D3;
}

.filter-input:active {
  opacity: 0.3;
}

.filter-input:has(.checkbox-input:disabled),
.filter-input:has(.radio-input:disabled) {
  opacity: 0.3;
}

.cost-filter-field {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  max-width: 288px;
  margin: 0;
  margin-right: 69px;
  margin-left: auto;
  padding: 0;

  border-style: none;
}

.cost-filter-label {
  position: relative;
}

.cost-text {
  position: absolute;
  top: 12px;
  right: 20px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

.cost-filter-input {
  width: 143px;
  margin: 0;
  padding: 12px 45px 12px 20px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  background-color: #F2F2F2;
  border-style: none;

  transition: background-color 0.2s ease-in;
}

.cost-filter-input:hover {
  background-color: #E5E5E5;
}

.cost-filter-input:focus-visible {
  background-color: #E5E5E5;
  outline: 2px solid #83B3D3;
}

.cost-filter-input:disabled {
  opacity: 0.6;

  cursor: default;
}

.cost-filter-input::-webkit-outer-spin-button,
.cost-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.cost-filter-input {
  appearance: textfield;
}

.min-cost-filter-input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.max-cost-filter-input {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.range-slider {
  position: relative;

  width: 100%;
  height: 4px;
  margin: 42px 0 8px 0;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;

  max-width: 288px;
  height: 4px;

  background-color: #ffffff;
}

.range-slider-handler {
  position: absolute;
  top: -8px;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border-style: none;
  border-radius: 5px;

  cursor: grab;
}

.range-slider-handler-min {
  left: 0;
}

.range-slider-handler-max {
  right: 0;
}

.range-slider-handler:focus {
  outline: 3px solid #83B3D3;
}

.range-slider-handler:active {
  outline: 2px solid #83B3D3;
}

.range-slider:has(.range-slider-handler:disabled) {
  opacity: 0.3;
}

.range-slider:has(.range-slider-handler:disabled) .range-slider-handler {
  cursor: default;
}

.filter-button-container {
  display: flex;
  flex-direction: column;
  min-width: 192px;
}

.filter-btn {
  padding: 8px 50px;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  border-style: none;
  border-radius: 4px;
}

.filter-submit-btn {
  max-width: 191px;
  margin: 56px 0 32px;

  background-color: #82B3D3;

  cursor: pointer;
}

.filter-reset-btn {
  max-width: 191px;

  background-color: transparent;

  cursor: pointer;

  transition: color 0.2s ease-in;
}

.filter-reset-btn:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-reset-btn:focus-visible {
  outline: 3px solid #83B3D3;
}

.filter-reset-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-reset-btn:disabled {
  color: rgba(255, 255, 255, 0.1);

  cursor: default;
}

.catalog-container {
  padding: 50px 70px 60px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  align-items: center;

  font-size: 18px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.catalog::before {
  width: 100%;
  height: 1px;

  background-color: #E5E5E5;

  content: "";
  order: 3;
}

.sorting-title {
  width: 338px;
  margin: 0;
  margin-right: 200px;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting-select {
  width: 292px;
  max-height: 49px;
  padding: 12px 35px 15px 20px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
  background-image: url(../images/sorting-select-icon.svg);
  background-repeat: no-repeat;
  background-position: center right 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;

  appearance: none;

  transition: border 0.2s ease-in;
}

.sorting-select:hover,
.sorting-select:focus {
  outline: none;
  border: 2px solid #68A2CA;
}

.sorting-select:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.view-change-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  width: 160px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style-type: none;
}

.view-change-link {
  display: block;
  min-width: 48px;
  min-height: 48px;
  box-sizing: border-box;

  text-decoration: none;
  color: #000000;

  border: 2px solid #E5E5E5;
  border-radius: 4px;

  transition: border 0.2s ease-in;
}

.view-change-link.current {
  border: 2px solid #000000;
}

.view-change-link:hover {
  border: 2px solid #000000;
}

.view-change-link:focus-visible {
  outline: none;
  border: 2px solid #68A2CA;
}

.view-change-link:active {
  outline: none;
  border: 2px solid #000000;
}

.view-change-link-tile {
  background-image: url(../images/view-tile-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.view-change-link-card {
  background-image: url(../images/view-card-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.view-change-link-list {
  background-image: url(../images/view-list-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-hotels-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  gap: 20px;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.catalog-hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: min-content auto;
  grid-auto-rows: min-content;
  gap: 16px 20px;
  padding: 20px;

  outline: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotels-item-link {
  text-decoration: none;
  color: #000000;
}

.hotels-item-img-link {
  grid-column: 1/-1;
}

.hotels-item-img-link:hover .hotels-item-img {
  opacity: 0.7;
}

.hotels-item-img-link:active .hotels-item-img {
  opacity: 0.5;
}

.hotels-item-title-link:hover .catalog-hotel-title {
  opacity: 0.7;
}

.hotels-item-title-link:active .catalog-hotel-title {
  opacity: 0.5;
}

.hotels-item-img {
  display: block;
  max-width: 100%;
  object-fit: contain;

  transition: opacity 0.2s ease-in;
}

.hotels-item-title-link {
  grid-column: 1/-1;
}

.catalog-hotel-title {
  margin: 0;

  font-size: 24px;
  line-height: 28px;

  transition: opacity 0.2s ease-in;
}

.catalog-hotel-card p {
  margin: 0;

  color: #333333;
}

.catalog-hotel-card .hotel-cost {
  text-align: end;
}

.more-details-btn {
  padding: 8px 26px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-all;
  color: #ffffff;
}

.add-to-favourite-btn {
  padding: 8px 20px;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #82B3D3;
  border-style: none;
  border-radius: 4px;

  cursor: pointer;
  transition:
    background-color 0.2s ease-in,
    color 0.2s ease-in;
  ;
}

.add-to-favourite-btn.active {
  padding: 8px 18px;

  background-color: #7DB54F;
}

.add-to-favourite-btn.active:hover,
.add-to-favourite-btn.active:focus-visible {
  background-color: #6C9E42;
}

.add-to-favourite-btn.active:active {
  color: rgba(255, 255, 255, 0.3);
}

.add-to-favourite-btn.active:disabled {
  background-color: #E5E5E5;

  cursor: default;
}

.hotel-stars {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: flex-start;
  align-items: center;
}

.hotel-single-star {
  width: 18px;
  height: 17px;

  background-image: url(../images/star-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hotel-rating {
  padding: 9px 22px 8px 23px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination-list {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;

  list-style-type: none;

  order: 4;
}

.pagination-item {
  min-width: 60px;
  box-sizing: border-box;

  color: #ffffff;

  background-color: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.pagination-item.current {
  color: #000000;

  background-color: #F2F2F2;
  border-style: none;
}

.pagination-link {
  display: block;
  padding: 10px 10px;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: inherit;

  transition: background-color 0.2s ease-in;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus-visible {
  background-color: #68A2CA;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #82B3D3;
}

.pagination-link.current:hover,
.pagination-link.current:focus-visible,
.pagination-link.current:active {
  background-color: #F2F2F2;
}

.pagination-item-more {
  color: #000000;

  background-color: #ffffff;
  border-style: none;

  transition: background-color 0.2s ease-in;
}

.pagination-link-more:hover,
.pagination-link-more:focus-visible,
.pagination-link-more:active {
  background-color: #ffffff;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;

  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container.open {
  display: flex;
}

.modal-search {
  width: 717px;
  margin: auto;

  background-color: #ffffff;
  border-radius: 30px;
}

.modal-content {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 64px 70px;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  padding: 0;

  background-color: #F2F2F2;
  border-style: none;
  border-radius: 50%;

  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.modal-close-button::before {
  width: 14px;
  height: 14px;

  mask-image: url(../images/modal-close-button.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: #000000;

  content: "";

  transition: background-color 0.2s ease-in;
}

.modal-close-button:hover {
  background-color: #E5E5E5;
}

.modal-close-button:focus-visible {
  background-color: #E5E5E5;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-form {
  display: grid;
  grid-template-columns: 248px 88px 241px;
  row-gap: 48px;
  align-items: center;
}

.arrival-date-field {
  position: relative;

  grid-column: 1/4;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  border-style: none;
}

.modal-label {
  flex-grow: 1;
  max-width: 137px;
  padding-right: 10px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  word-break: break-word;
  color: #000000;
}

.modal-input {
  box-sizing: border-box;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  background-color: #F2F2F2;
  border-style: none;
  border-radius: 4px;
}

.modal-input:hover {
  background-color: #E5E5E5;
}

.modal-input:focus {
  background-color: #E5E5E5;
  outline: 3px solid #83B3D3;
}

.date-input {
  width: 440px;
  padding: 12px 40px 12px 20px;
}

.date-icon-button {
  position: absolute;
  right: 20px;
  width: 20px;

  display: block;
  height: 20px;
  padding: 0;

  background-image: url(../images/modal-date-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 15px;
  border-style: none;
  opacity: 0.3;

  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.date-icon-button:hover {
  opacity: 1;
}

.date-icon-button:focus-visible {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
  opacity: 1;

}

.date-icon-button:active {
  opacity: 0.3;
}

.input-notification {
  position: absolute;
  top: 100%;
  left: 137px;

  min-width: 320px;
  margin-top: 4px;
  padding: 0 20px;

  font-size: 16px;
  line-height: 21px;
}

.input-notification-error {
  color: #FF5757;
}

.departure-date-field {
  position: relative;

  grid-column: 1/4;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  border-style: none;
}

.adults-number-fieldset {
  position: relative;

  grid-column: 1/2;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  border-style: none;
}

.input-container {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adults-number-input,
.kids-number-input {
  width: 111px;
  padding: 12px 40px;

  text-align: center;

  appearance: textfield;
}

.number-change-button {
  width: 20px;
  height: 20px;
  padding: 24px 20px;

  border-style: none;
  border-radius: 4px;
  opacity: 0.2;

  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.minus-button {
  position: absolute;
  left: 0;

  background-image: url(../images/minus-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
}

.plus-button {
  position: absolute;
  right: 0;

  background-image: url(../images/plus-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 14px;
}

.number-change-button:hover {
  background-color: #E5E5E5;
  opacity: 1;
}

.number-change-button:focus-visible {
  background-color: #E5E5E5;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
  opacity: 1;
}

.number-change-button:active {
  opacity: 0.2;
}

.adults-number-input::-webkit-outer-spin-button,
.adults-number-input::-webkit-inner-spin-button,
.kids-number-input::-webkit-outer-spin-button,
.kids-number-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.kids-number-fieldset {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  border-style: none;
}

.tooltip-container {
  position: relative;

  display: flex;
  align-items: center;
  margin-right: auto;
}

.modal-kids-label {
  flex-grow: unset;
}

.tooltip-btn {
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;

  background-image: url(../images/tooltip-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-style: none;
  border-radius: 50%;
}

.tooltip-btn:focus-visible {
  outline: 2px solid #83B3D3;
}

.tooltip-text {
  position: absolute;
  top: 41px;
  right: -115px;

  display: none;
  width: 256px;
  min-height: 143px;
  margin: 0;
  padding: 20px 18px 18px 22px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  color: #FFFFFF;

  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.tooltip-text::before {
  position: absolute;
  bottom: 100%;
  left: 118px;

  width: 20px;
  height: 9px;

  background-image: url(../images/tooltip-triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  content: "";
}

.find-btn {
  grid-column: 1/4;
  padding: 18px 10px 18px 15px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;

  border-style: none;
  border-radius: 10px;

  cursor: pointer;
}

.tooltip-btn:hover + .tooltip-text,
.tooltip-btn:focus-visible + .tooltip-text {
  display: block;
}
